*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: white;
}

.paddle {
    position: absolute;
    width: 1.5vh;
    height: 15vh;
    top: 50vh;
    transform: translateY(-50%);
    background-color: #777;
}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}

.ball {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #777;
}

.score-container{
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    width: fit-content;
    height: 3rem;
    background-color: #777;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}